div.card {
  display: flex;
  width: 15rem;
  height: 20rem;
  background-color: rgb(245, 245, 245);
  margin: 1rem 0 3rem 4rem;
  box-shadow: 0 3px 6px 0;
  transition: all 0.1s ease-out;
}
div.card:hover {
  transform: scale(1.0283);
}

div.card-footer {
  transition: all 0.2s ease-in;
}
div.card-footer:hover {
  font-size: medium;
  background-color: #2874f0;
  color: white;
}

div.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: rgb(228, 153, 79); */
  background-image: linear-gradient(to bottom right, #fcb88b, #143658);
}

/* div.inner {
  overflow: visible;
  padding: 3px 3px;
  background-color: lightyellow;
  border: 1px solid black;
} */

div.name {
  font-size: 1.3rem;
  font-weight: 700;
  padding-top: 10px;
}

div.card-text {
  font-style: oblique;
  padding-top: 1rem;
  font-weight: 400;
  transition: all 0.1s ease-in;
}
div.card-text:hover {
  transform: scale(1.11);
}

div.dash-text {
  margin-top: 3rem;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  transition: all 3s ease-in;
}

@media (max-width: 493px) {
  div.card {
    margin-left: 0;
  }
}
